@using TravelTripProject.Models.Classes
@model List<Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot" style="margin-left:80px;">Tatil & Seyahat Bloğum</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restorantlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Ucuslar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Yapilabilecekler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Arac Kiralama</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:650px; height:365px;">
                            <ul class="rslides" id="slider1">
                                @foreach (var item in Model)
                                {
                                    <li><img src="@item.BlogImage" alt="" style="height:365px;"></li>
                                }

                                @*<li><img src="~/web/images/img2.jpg" alt=""></li>
                                    <li><img src="~/web/images/img3.jpg" alt=""></li>
                                    <li><img src="~/web/images/img4.jpg" alt=""></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Tatil & Seyahat Bloğuma Hoş Geldiniz!</h3>
                    <p>Gezip gordugum yerleri sizlerle paylasacagim bir tatil-seyahat sitesi yaptim ve bu siteyi MVC5 mimarisi uzerine kurulu dinamik bir web projesi olarak kodladim. Bu sayede hem dinamik hem de sizler icin de faydali olabilecek bir site ortaya cikardim. Hem Turkiye'de hem de yurt disinda gezip gordugum yerleri blog yazilari olarak sizlerle paylasmayi hedefliyorum. Umarim sizin de ilginizi ceker. Tekrar hos geldiniz!</p>
                </div>

                <!--**Ilgili Controller'daki PartialView'i donduren action(metot) yolu verilip o partial view kodu bir section gibi bu view icerisinde gosterilir;-->
                @Html.Action("Partial1", "Default")

                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3","Default")
                        @Html.Action("Partial4","Default")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


