@using TravelTripProject.Models.Classes
@model List<Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Blog Listesi</h2>
<br />
<table id="example" class="table table-bordered" style="width:100%">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-default">Detaylar</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-primary">Yeni Blog</a>
<nav aria-label="Page navigation">
    <ul id="pagination" class="pagination justify-content-center">
        <!-- Pagination links will be dynamically added here -->
    </ul>
</nav>

